#game {
    top: 20px;
    left: 20px;
    width: 800px;
    height: 1000px;
    height: auto;
    background-color: 0x1099bb;
    position: relative;

}

#input_name { 
    width: 300px;
    height: auto;
    position: absolute;
    top: 500px; 
    left: 550px;
    padding: 10px;
    background-color:white;
    z-index:1;
    
}

#input_link {

    width: 300px;
    height: auto;
    position: absolute;
    top: 500px; 
    left: 550px;
    padding: 10px;
    background-color:white;
    z-index:-1;


}